/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* 팝업 위치 설정 */
}

.container.active {
    background: rgba(224, 216, 216, 0.810);
}

.showBtn { /* class 이름 변경: show-btn -> showBtn */
    padding: 10px 4%;
    border-radius: 0.8rem;
    background-color: gray;
    font-size: 18px;
    border: none; /* order -> border 수정 */
    outline: none;
    transition: .5s;
    box-shadow: 0 .1rem 1rem rgba(0,  0,  0, .8);
    position: absolute;
}

.showBtn:hover {
    background-color: white;
    color: red;
    transform: scale(1.1);
}

.popBox { /* class 이름 변경: spop-box -> popBox */
    width: 500px;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 1rem;
    transform: translateY(-20px) scale(0); /* 팝업이 위에서 아래로 나타나도록 설정 */
    box-shadow: 0 .1rem 1rem rgba(0,0,0, .8); /* 오타 수정: rga -> rgba */
    transition: .5s;
    position: absolute; /* 팝업을 절대 위치로 설정 */
    top: -250px; /* 버튼 위에 위치하도록 설정 */
    left: 50%;
    transform: translateX(-50%) scale(0); /* 수평 가운데 정렬과 초기 scale 0으로 설정 */
    opacity: 0;
    z-index: 10;
}

.popBox.active { /* class 이름 변경: spop-box -> popBox */
    transform: translateX(-50%) translateY(-20px) scale(1); /* 팝업 활성화 시 위치 및 크기 변경 */
    opacity: 1;
}

.popBox h1 {
    color: #0077b6;
    margin-bottom: 1rem;
}

.popBox p {
    font-style: normal;
    margin-bottom: 0.5rem;
}

.closePop { /* class 이름 변경: close-pop -> closePop */
    padding: 5px 0px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    outline: none;
    transition: .5s;
}

.closePop:hover {
    background: transparent;
    color: #0077b6;
    border-style: dashed;
    border-color:#0077b6;
    border-width: 1px;
}

.closePop:active {
    transform: scale(0.9);
    background: #0077b6;
    color: white;
}
